Viktor Tingstad <viktorti@stud.ntnu.no>

Mattias Formo <mattiasf@stud.ntnu.no>

Jørgen Skaar Olslund <jorgolsl@stud.ntnu.no> jorgolsl <jorgolsl@stud.ntnu.no>

Vidar Strand Gladsø <vidarsgl@stud.ntnu.no> vidarsgl <vidarsgl@stud.ntnu.no>

Adrian Stoica <stoica@ntnu.no>